
html {
  floot:left;
  display:block;
padding:10px 15px;
text-align:center;
text-decoration: none;
border-right: 1px solid rgb(15, 121, 241);
min-width:60px;
}

body{
font-family: "MS明朝";  
}
html {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 10;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
  }
